server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git: { uri: https://github.com/rahmaaroua/microservices-config, clone-on-start: true }
    compatibility-verifier:
      enabled: false


